<?xml version="1.0" encoding="utf-8" ?>
<services xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.39541240.com/services">
  <service interface="ETao.Domain.Model.IUploadImageService,ETao.Domain.Model"
           implementation="ETao.Infrastructure.Services.UpYun.UploadImageService,ETao.Infrastructure"/>
  
  <service interface="ETao.Domain.Model.IPayService,ETao.Domain.Model"
           implementation="ETao.Infrastructure.Services.Pay.PayService,ETao.Infrastructure"/>
  
  <service interface="ETao.Domain.Model.IPushService,ETao.Domain.Model"
           implementation="ETao.Infrastructure.Services.Push.PushService,ETao.Infrastructure"
           interceptor="Easy.Rpc.RPCServiceInterceptor,Easy.Rpc" enable_interceptor="true"/>
  
  <service interface="ETao.Domain.Model.Restaurant.IMyAccountService,ETao.Domain.Model" 
           implementation="ETao.Infrastructure.Services.Restaurant.MyAccountService,ETao.Infrastructure"/>
  <service interface="ETao.Domain.Model.Restaurant.IRemarkService,ETao.Domain.Model" 
           implementation="ETao.Infrastructure.Services.Restaurant.RemarkService,ETao.Infrastructure"/>
  
  <service interface="ETao.Domain.Model.WeChat.IWeChatService,ETao.Domain.Model"
           implementation="ETao.Infrastructure.Services.WeChat.WeChatNewService,ETao.Infrastructure"
           interceptor="Easy.Rpc.RPCServiceInterceptor,Easy.Rpc" enable_interceptor="true"
           />
  <service interface="ETao.Domain.Model.IQRCodeService,ETao.Domain.Model"
       implementation="ETao.Infrastructure.Services.QRCode.QRCodeService,ETao.Infrastructure"/>

  <service interface="ETao.Domain.Model.Cash.ICashService,ETao.Domain.Model"
       implementation="ETao.Infrastructure.Services.Cash.CashMessage,ETao.Infrastructure"/>
</services>
