<?xml version="1.0" encoding="utf-8" ?>
<repositories xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.39541240.com/repository">
  <repository
    interface="ETao.Domain.Model.Restaurant.IRestaurantRepository,ETao.Domain.Model"
    implementation="ETao.Infrastructure.Repository.Restaurant.RestaurantRepository,ETao.Infrastructure" />
  <!--当面付-->
  <repository interface="ETao.Domain.Model.Order.FaceOrder.IFaceOrderRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.Order.FaceOrder.FaceOrderRepositoryWithInvoker,ETao.Infrastructure"/>

  <!--订单备注-->
  <repository interface="ETao.Domain.Model.Order.Remarks.IRemarksRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.Order.Remarks.RemarksRepository,ETao.Infrastructure"/>

  <repository interface="ETao.Domain.Model.Order.Statistic.IReportRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.Order.Statistic.ReportRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.User.Account.IMyAccountRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.User.Account.MyAccountRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.User.Account.IBillRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.User.Account.BillRepository,ETao.Infrastructure"/>
 
  
  <repository interface="ETao.Domain.Model.User.Customer.ICustomerRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.User.Customer.CustomerRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Cash.ICashRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.Cash.CashRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.User.OpenIdLog.IOpenIdLogRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.User.OpenIdLog.OpenIdLogRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Refund.IRefundRepository,ETao.Domain.Model" implementation="ETao.Infrastructure.Repository.Refund.RefundRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.User.Employee.IEmployeeRepository,ETao.Domain.Model"
   implementation="ETao.Infrastructure.Repository.User.Employee.EmployeeRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Order.FoodOrder.IFoodOrderRepository,ETao.Domain.Model"
  implementation="ETao.Infrastructure.Repository.Order.FoodOrder.FoodOrderRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.AppUpgrade.IAppUpgradeRepository,ETao.Domain.Model"
              implementation="ETao.Infrastructure.Repository.AppUpgrade.AppUpgradeRepsitory,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.User.AppInfo.IAppinfoRepository,ETao.Domain.Model"
              implementation="ETao.Infrastructure.Repository.User.AppInfo.AppinfoRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.User.OauthCode.IOauthCodeRepository,ETao.Domain.Model"
              implementation="ETao.Infrastructure.Repository.User.OauthCode.OauthCodeRepsitory,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.FlowAccountOrder.IFlowAccountOrderRepository,ETao.Domain.Model"
              implementation="ETao.Infrastructure.Repository.FlowAccountOrder.FlowAccountOrderRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Commission.ICommisionRepository,ETao.Domain.Model"
             implementation="ETao.Infrastructure.Repository.Commission.CommissionRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Commission.CommissionRestaurant.ICrRepository,ETao.Domain.Model"
             implementation="ETao.Infrastructure.Repository.Commission.CommissionRestaurant.CrRepository,ETao.Infrastructure"/>

  <repository interface="ETao.Domain.Model.User.AppCategory.IAppCategoryRepository,ETao.Domain.Model"
           implementation="ETao.Infrastructure.Repository.User.AppCategory.AppCategoryRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Sales.DepartMent.IDepartmentRepository,ETao.Domain.Model"
          implementation=" ETao.Infrastructure.Repository.Sales.Department.DepartmentRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Sales.SalesMan.ISalesmanRepository,ETao.Domain.Model"
          implementation=" ETao.Infrastructure.Repository.Sales.SalesMan.SalesmanRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Material.IMaterialRepository,ETao.Domain.Model"
              implementation="ETao.Infrastructure.Repository.Material.MaterialRepository,ETao.Infrastructure"/>
  <repository interface="ETao.Domain.Model.Order.OrderReport.IOrderQueryRepository,ETao.Domain.Model" 
              implementation="ETao.Infrastructure.Repository.Order.OrderReport.OrderQueryRepository,ETao.Infrastructure"/>
</repositories>